// =============COLORS

$button-color:#e28234;
$money-color:#dd490f;
$main-text-color:#000;
$secondary-text-color:#fff;
$link-color:#c45f1c;
$secondary-link-color:#5a56af;
$p-color:#4b4b4b;
$background-color:#f8f2e4;;

// COLORS


// =============FONTS 

$font:"Muller";

// FONTS

h1.title {
	text-align: center;
	padding-top: 80px;
	font-size: 36px;
	font-weight: 400;
}

// TRANSITION
$trans:0.2s ease;