/* line 2, ../scss/_vars.scss */
h1.title {
  text-align: center;
  color: #535353;
  font-size: 36px;
  font-weight: 400;
  padding-top: 80px;
  margin-bottom: 100px;
}

/* line 12, ../scss/_vars.scss */
button.main-btn {
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0);
  border-radius: 23px;
  background-color: #68b0c9;
  border: none;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  width: 220px;
  height: 45px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
}

/* line 29, ../scss/_vars.scss */
.salary-wrap {
  display: flex;
}
/* line 31, ../scss/_vars.scss */
.salary-wrap .salary-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
/* line 36, ../scss/_vars.scss */
.salary-wrap .salary-info .salary-info-block {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 90px;
  text-align: center;
}
/* line 42, ../scss/_vars.scss */
.salary-wrap .salary-info .salary-info-block p {
  color: #1e1e1e;
  font-size: 18px;
  text-decoration: line-through;
  margin-top: 30px;
}
/* line 48, ../scss/_vars.scss */
.salary-wrap .salary-info .salary-info-block h3 {
  color: #d04545;
  font-size: 30px;
}

/* line 2, ../scss/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Museo Sans Cyrl 300";
}

/* line 8, ../scss/style.scss */
header {
  height: 100px;
  display: flex;
  align-items: center;
}
/* line 12, ../scss/style.scss */
header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 17, ../scss/style.scss */
header .header-wrap .phone span {
  color: #5e5e5e;
  font-size: 24px;
  font-weight: 400;
}
/* line 22, ../scss/style.scss */
header .header-wrap .phone p {
  color: #5892a6;
  font-size: 14px;
  font-weight: 400;
}

/* line 31, ../scss/style.scss */
section.main {
  background: white url(../img/background-main.png) 0 0 no-repeat;
  background-position: center;
}
/* line 34, ../scss/style.scss */
section.main .main-wrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  font-weight: 400;
}
/* line 40, ../scss/style.scss */
section.main .main-wrap h1 {
  padding-top: 80px;
  color: #535353;
  font-size: 41px;
  margin: 0;
}
/* line 46, ../scss/style.scss */
section.main .main-wrap h2 {
  color: #5892a6;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 60px;
}
/* line 52, ../scss/style.scss */
section.main .main-wrap h3 {
  color: #5892a6;
  font-size: 20px;
}
/* line 56, ../scss/style.scss */
section.main .main-wrap p {
  font-size: 12px;
}
/* line 59, ../scss/style.scss */
section.main .main-wrap .form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 240px;
  box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 35px;
}
/* line 70, ../scss/style.scss */
section.main .main-wrap .form input, section.main .main-wrap .form button {
  text-align: center;
  width: 220px;
  height: 45px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* line 78, ../scss/style.scss */
section.main .main-wrap .form input {
  border: 1px solid #e8e8e8;
}

@media (max-width: 767px) {
  /* line 85, ../scss/style.scss */
  section.main {
    background-position: 60%;
  }
  /* line 87, ../scss/style.scss */
  section.main .main-wrap {
    align-items: center;
    text-align: center;
  }
  /* line 90, ../scss/style.scss */
  section.main .main-wrap h1 {
    padding-top: 50px;
  }
}
@media (max-width: 350px) {
  /* line 99, ../scss/style.scss */
  header .header-wrap span {
    font-size: 20px;
  }

  /* line 106, ../scss/style.scss */
  section.main .main-wrap h1 {
    font-size: 31px;
  }
}
/* line 116, ../scss/style.scss */
section.about .about-wrap .about-block {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
/* line 120, ../scss/style.scss */
section.about .about-wrap .about-block .text-block {
  max-width: 400px;
  font-weight: 400px;
}
/* line 124, ../scss/style.scss */
section.about .about-wrap .about-block .text-block h2 {
  color: #68b0c9;
  font-size: 30px;
}
/* line 128, ../scss/style.scss */
section.about .about-wrap .about-block .text-block p {
  color: #535353;
  font-size: 18px;
}
/* line 134, ../scss/style.scss */
section.about .about-wrap .about-block:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

@media (max-width: 575px) {
  /* line 143, ../scss/style.scss */
  section.about .about-wrap .about-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 148, ../scss/style.scss */
  section.about .about-wrap .about-block:nth-child(odd) {
    flex-direction: column;
    text-align: center;
  }
}
/* line 156, ../scss/style.scss */
section.salary {
  background: white url(../img/background-second.png) 0 0 no-repeat;
  background-position: center;
  height: 490px;
}
/* line 160, ../scss/style.scss */
section.salary .salary-wrap {
  display: flex;
}
/* line 162, ../scss/style.scss */
section.salary .salary-wrap .salary-info, section.salary .salary-wrap .salary-block {
  width: 50%;
}
/* line 165, ../scss/style.scss */
section.salary .salary-wrap .salary-info {
  height: 490px;
}
/* line 168, ../scss/style.scss */
section.salary .salary-wrap .salary-block {
  text-align: center;
}
/* line 170, ../scss/style.scss */
section.salary .salary-wrap .salary-block h1, section.salary .salary-wrap .salary-block h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #535353;
}
/* line 176, ../scss/style.scss */
section.salary .salary-wrap .salary-block h1 {
  font-size: 55px;
  margin-top: 70px;
  margin-bottom: 20px;
}
/* line 181, ../scss/style.scss */
section.salary .salary-wrap .salary-block h2 {
  font-size: 26px;
}
/* line 184, ../scss/style.scss */
section.salary .salary-wrap .salary-block li {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #68b0c9;
  font-size: 25px;
  list-style-image: url(../img/present.png);
}
/* line 191, ../scss/style.scss */
section.salary .salary-wrap .salary-block .salary-block-order {
  width: 275px;
  height: 200px;
  margin: 0 auto;
  border-radius: 23px;
  border: 5px solid #ffffff;
}
/* line 197, ../scss/style.scss */
section.salary .salary-wrap .salary-block .salary-block-order .salary-block-order-text {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
/* line 201, ../scss/style.scss */
section.salary .salary-wrap .salary-block .salary-block-order .salary-block-order-text img {
  width: 48px;
  height: 43px;
}
/* line 205, ../scss/style.scss */
section.salary .salary-wrap .salary-block .salary-block-order .salary-block-order-text p {
  margin: 0;
  padding: 0;
}
/* line 210, ../scss/style.scss */
section.salary .salary-wrap .salary-block .salary-block-order button {
  margin-top: 35px;
}

@media (max-width: 767px) {
  /* line 218, ../scss/style.scss */
  section.salary {
    background-position: 60%;
  }
  /* line 220, ../scss/style.scss */
  section.salary .salary-wrap {
    justify-content: center;
  }
  /* line 222, ../scss/style.scss */
  section.salary .salary-wrap .salary-info {
    display: none;
  }
  /* line 226, ../scss/style.scss */
  section.salary .salary-wrap .salary-block h1 {
    margin-top: 0px;
  }
  /* line 229, ../scss/style.scss */
  section.salary .salary-wrap .salary-block li {
    margin-bottom: 0px;
  }
}
@media (max-width: 450px) {
  /* line 239, ../scss/style.scss */
  section.salary .salary-wrap .salary-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 243, ../scss/style.scss */
  section.salary .salary-wrap .salary-block .salary-block-order {
    margin: 0;
  }
}
/* line 252, ../scss/style.scss */
section.count .count-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 70px 0px;
}
/* line 258, ../scss/style.scss */
section.count .count-wrap .count-block {
  background: white url(../img/background-count.png) 0 0 no-repeat;
  background-position: center;
  margin: 0 20px;
}
/* line 262, ../scss/style.scss */
section.count .count-wrap .count-block h1 {
  color: #68b0c9;
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
}
/* line 268, ../scss/style.scss */
section.count .count-wrap .count-block p {
  color: #535353;
  font-size: 18px;
  font-weight: 400;
}

/* line 277, ../scss/style.scss */
section.documentary {
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
}
/* line 279, ../scss/style.scss */
section.documentary .documentary-wrap {
  display: flex;
  justify-content: space-around;
  padding-bottom: 90px;
}
/* line 283, ../scss/style.scss */
section.documentary .documentary-wrap .doc-info {
  width: 400px;
}
/* line 285, ../scss/style.scss */
section.documentary .documentary-wrap .doc-info .doc-info-head {
  display: flex;
}
/* line 287, ../scss/style.scss */
section.documentary .documentary-wrap .doc-info .doc-info-head h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  color: #68b0c9;
  font-size: 22px;
  font-weight: 600;
  margin-left: 22px;
}
/* line 296, ../scss/style.scss */
section.documentary .documentary-wrap .doc-info .doc-info-head img {
  width: 48px;
  height: 41px;
}
/* line 301, ../scss/style.scss */
section.documentary .documentary-wrap .doc-info p {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 311, ../scss/style.scss */
  section.documentary .documentary-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* line 314, ../scss/style.scss */
  section.documentary .documentary-wrap .doc-photo {
    margin-top: 20px;
  }
}
/* line 322, ../scss/style.scss */
section.info .info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px;
}
/* line 327, ../scss/style.scss */
section.info .info-wrap .info-block {
  max-width: 250px;
}
/* line 329, ../scss/style.scss */
section.info .info-wrap .info-block h1 {
  color: #68b0c9;
  font-size: 20px;
  font-weight: 400;
}
/* line 334, ../scss/style.scss */
section.info .info-wrap .info-block p {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

/* line 343, ../scss/style.scss */
section.order {
  background: white url(../img/background-one-more.png) 0 0 no-repeat;
  background-position: center;
}
/* line 347, ../scss/style.scss */
section.order .order-wrap .order-info {
  height: 348px;
}
/* line 350, ../scss/style.scss */
section.order .order-wrap .order-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
/* line 356, ../scss/style.scss */
section.order .order-wrap .order-block h1, section.order .order-wrap .order-block h2 {
  margin: 0;
  padding: 0;
}
/* line 360, ../scss/style.scss */
section.order .order-wrap .order-block h1 {
  color: #535353;
  font-weight: 600;
  margin-bottom: 15px;
}
/* line 365, ../scss/style.scss */
section.order .order-wrap .order-block h2 {
  color: #68b0c9;
  background-color: #fff;
}
/* line 369, ../scss/style.scss */
section.order .order-wrap .order-block input {
  width: 260px;
  height: 46px;
  border-radius: 20px;
  border: 1px solid #d5e4ef;
  background-color: #ffffff;
  margin: 30px 0px;
  text-align: center;
}
/* line 378, ../scss/style.scss */
section.order .order-wrap .order-block button {
  width: 260px;
}

@media (max-width: 767px) {
  /* line 385, ../scss/style.scss */
  section.order {
    background-position: 65%;
  }
  /* line 387, ../scss/style.scss */
  section.order .order-wrap {
    justify-content: center;
    padding: 40px 0px;
  }
  /* line 390, ../scss/style.scss */
  section.order .order-wrap .order-info {
    display: none;
  }
}
/* line 397, ../scss/style.scss */
section.features {
  background: white url(../img/kresloo.png) 0 0 no-repeat;
  background-position: center;
  background-position-y: center;
}
/* line 401, ../scss/style.scss */
section.features .span-block {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
/* line 405, ../scss/style.scss */
section.features .span-block span {
  color: #535353;
  font-size: 22px;
}
/* line 409, ../scss/style.scss */
section.features .span-block span:nth-child(2) {
  color: #68b0c9;
  margin-left: 40px;
}
/* line 414, ../scss/style.scss */
section.features .features-wrap {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
/* line 418, ../scss/style.scss */
section.features .features-wrap .features {
  font-size: 15px;
  color: #939393;
}
/* line 421, ../scss/style.scss */
section.features .features-wrap .features p {
  max-width: 200px;
}
/* line 425, ../scss/style.scss */
section.features .features-wrap .features-2 {
  color: #68b0c9;
}

@media (max-width: 350px) {
  /* line 431, ../scss/style.scss */
  section.features {
    background-image: none;
  }
}
/* line 436, ../scss/style.scss */
section.contacts {
  background-color: #ecf3f8;
}
/* line 438, ../scss/style.scss */
section.contacts .contacts-wrap {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
/* line 442, ../scss/style.scss */
section.contacts .contacts-wrap .contacts-info {
  text-align: center;
  margin-left: 10%;
}
/* line 445, ../scss/style.scss */
section.contacts .contacts-wrap .contacts-info p {
  color: #535353;
  font-size: 16px;
  font-weight: 400;
}
/* line 450, ../scss/style.scss */
section.contacts .contacts-wrap .contacts-info h1 {
  color: #68b0c9;
  font-size: 20px;
}
/* line 456, ../scss/style.scss */
section.contacts .contacts-wrap .map iframe {
  max-width: 100%;
}

@media (max-width: 767px) {
  /* line 464, ../scss/style.scss */
  section.contacts .contacts-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* line 467, ../scss/style.scss */
  section.contacts .contacts-wrap .contacts-info {
    margin: 40px 0px;
  }
}
/* line 475, ../scss/style.scss */
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 479, ../scss/style.scss */
footer .footer-wrap p {
  margin: 0;
  padding: 0;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
}
/* line 486, ../scss/style.scss */
footer .footer-wrap a {
  color: #68b0c9;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 350px) {
  /* line 496, ../scss/style.scss */
  footer .footer-wrap {
    flex-direction: column;
  }
}
/* line 521, ../scss/style.scss */
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 999;
  display: none;
}
/* line 529, ../scss/style.scss */
.modal .popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
}
/* line 541, ../scss/style.scss */
.modal .popup input {
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

/* line 553, ../scss/style.scss */
.close-popup::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  right: 5px;
  top: -20px;
  background-color: #5ea5bd;
  transform: rotate(-45deg);
  cursor: pointer;
}

/* line 564, ../scss/style.scss */
.close-popup::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  right: 5px;
  top: -20px;
  background-color: #5ea5bd;
  transform: rotate(45deg);
  cursor: pointer;
}

/* line 576, ../scss/style.scss */
.thanks-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 999;
  display: none;
}
/* line 584, ../scss/style.scss */
.thanks-modal .thanks-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
}

/* line 599, ../scss/style.scss */
.thanks-close-popup::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  right: 5px;
  top: -20px;
  background-color: #5ea5bd;
  transform: rotate(-45deg);
  cursor: pointer;
}

/* line 610, ../scss/style.scss */
.thanks-close-popup::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  right: 5px;
  top: -20px;
  background-color: #5ea5bd;
  transform: rotate(45deg);
  cursor: pointer;
}
